<b> {% if annees %} {{annees.pop}} {% else %} Aucune Ressource disponible à cette page {% endif %} </b><br/><br/>
{% for ressource in ressources %}
	{% for un_auteur in ressource.auteurs.all %}
		<i> <a href="/search/?q={{un_auteur.nom}}+{{un_auteur.prenom}}">{{un_auteur.nom}} {{un_auteur.prenom}}.</a></i>,
	{% endfor %}
	{% if ressource.lien_texte %}<a href="{{ressource.lien_texte}}">{% endif %}<i>« {{ressource.titre}} »</i></a>,
	{{une_ressource.texte|default:'Aucun texte'}},
	<b> Date: </b> 
	{% if ressource.mois %} <a href="/search/?q={{ressource.mois}}"> {{ressource.mois}}</a> {% endif %}
	<a href="/search/?q={{ressource.annee}}">{{ressource.annee}}</a>
	{% if revue.nom %}<b> Revue: </b> 
	<i> <a href="recherche/?q={{revue.nom}}"> {{revue.nom}}</a></i> {% endif %}
	{% if ressource.page_deb and ressource.page_fin %} <b> Pages: </b> {{ ressource.page_deb }} à {{ressource.page_fin}} {% endif %}
	{% if ressource.date_debut and ressource.date_fin %} <b> Dates: </b>  du {{ressource.date_debut}} au {{ressource.date_fin}} {% endif %}					
	{% if ressource.editeur %}  <b> Editeur: </b> <a href="/search/?q={{ressource.editeur}}"> {{ressource.editeur}}</a> {% endif %}
	{% if ressource.formation %} <b> Formation: </b> <a href="/search/?q={{ressource.formation}}"> {{ressource.formation}}</a> {% endif %}
	{% if ressource.universite %} <b> Universite: </b> <a href="/search/?q={{ressource.universite}}">  Université de {{ressource.universite}}</a> {% endif %}
	{% if ressource.discipline %} <b> Discipline: </b> <a href="/search/?q={{ressource.discipline}}"> {{ressource.discipline}}</a> {% endif %}
	{% if ressource.type_rapport %} <b> Type de Rapport: </b> <a href="/search/?q={{ressource.type_rapport}}"> {{ressource.type_rapport}}</a> {% endif %}
	<b> Tag{{ressource.tags.all.count|pluralize}}: </b> 
	{% for un_tag in ressource.tags.all %}
		<i> <a href="/search/?q={{un_tag.nom}}">{{un_tag.nom}}</a></i>,
	{% empty %}
		Aucun
	{% endfor %}
	<b> Type{{ressource.ressourcecatsscat_set.all.count|pluralize}} de publication: </b>
	{% for csc in ressource.ressourcecatsscat_set.all %}
			<i> <a href="/search/?q={{csc.id_categorie.nom}}"> {{csc.id_categorie.nom}}</a>/<a href="/search/?q={{csc.id_sous_cat.nom}}">{{csc.id_sous_cat.nom}}</a></i>
	{% endfor %}
	<br/><br/>
	{% ifequal annees.0 ressources.annee %}
	{% else %}
		<b> {{annees.pop}} </b><br/><br/>
	{% endifequal %}
{% endfor %}