<div id="search-result">
    {% if request.GET.tag %}
    {% load page_tags %}    
    <h2>Catégorie "{{ request.GET.tag }}"&nbsp;:</h2>
    {% with tag=request.GET.tag %}
{#    {% pages_with_tags tag order alphabetical limit 10 as page_list %} #}
    {% pages_with_tags tag order alphabetical as page_list %}
    <ul>
{% for p in page_list %}
        <li><a href="{{ p.get_absolute_url }}">{{ p.get_title }}</a></li>
{% endfor %}
    </ul>
    {% endwith %}
    {% else %}
    <h2>{{ results_n }} resultat{% if results_n %}s{% endif %} pour "{{ request.GET.q }}"{% if results_n %}&nbsp;:{% else %}.{% endif %}</h2>
    <ul>
{% for p in results %}
        <li><a href="{{ p.get_absolute_url }}">{{ p.get_title }}</a></li>
{% endfor %}
    </ul>
    {% endif %}
</div>
