html {
    /* background-color: black; */
    height: 100%;
}

body {
    width: 80%;
    min-height: 100%;
    min-width: 950px;
    margin-right: auto;
    margin-left: auto;
/*    margin-top: 15px; */
    background-color: white;
    padding: 0 20px;
}

body,
div {
/*    border: 1px solid black; */
}

h1,h2,h3,h4,h5,h6,
#menu,
#breadcrumbs > li,
#branchmap {
    font-family: Geo;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #ef4123;
}

a:hover {
    text-decoration: underline;
}

ul {
    margin: 0 0 0 20px;
}

li {
    list-style-type: square;
}

.page {
    text-align: justify;
    font-family: calibri;
    font-size: 120%;
}

.left {
    float: left;
    margin-right: 10px;
}

.right {
    float: right;
    margin-left: 10px;
}

.button:hover {
    cursor: pointer;
}

#header {
    padding-top: 10px;
    background: transparent url(http://opsn.fr/static//style/header.png) no-repeat -42px top;
}

#cms_placeholder-overlay li {
    list-style: none;
}

input[type="text"],
input[type="password"] {
    border-width: 0;
    background-color: white;
    padding: 3px 4px;
}

#home {
    display: block;
    height: 84px;
    background: transparent url(http://opsn.fr/static//style/logo_home.png) no-repeat center left;
}

#main {
    padding: 16px 0;
    min-height: 400px;
}

#menu {
    background-color: #a9a3a1;
    text-align: right;
    font-size: 110%;
    color: white;
}

#menu,
#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu li {
    display: inline-block;
    padding: 2px 6px;
    border-left: 10px solid white;
    margin-left: -3px;
}

#menu a {
    color: inherit;
}

#menu a:hover {
    text-decoration: none;
}

#menu li.selected,
#menu li:hover,
#menu li.ancestor {
    background-color: #ef4123;
}

#branchmap {
    font-size: 130%;
}

#branchmap > li > ul > li {
    font-size: 90%;
}

#branchmap > li > ul > li > ul > li {
    font-size: 90%;
}

#col-left > *,
#col-right > *,
#footer {
    background-color: #e7e4e3;
}

#col-left > *,
#col-right > * {
    margin-bottom: 10px;
    padding: 10px;
}

#col-left > * {
    margin-right: 16px;
}

#col-right > * {
    margin-left: 16px;
}

#col-left > *:last-child {
    margin-bottom: 0;
}

#col-left h1,
#col-right h1 {
    color: #6a6361;
    margin: 0;
    padding-bottom: 5px;
}

/* #col-left > *:empty,
#col-right > *:empty {
    display: none;
} */


#cloud {
    text-align: center;
}

#cloud a {
    color: #a9a3a1;
}

#search-box input[type="text"] {
    width: 76%;
}

#search-box input[type="submit"] {
    color: transparent;
    width: 14%;
    height: 21px;
    background: transparent url(http://opsn.fr/static//style/disk_21_a9a3a1.png) center center no-repeat;
    border-width: 0;
}

#une {
    border: 10px solid #ef4123;
    margin-bottom: 10px;
    padding: 5px 10px 10px 10px;
}

#une h1 {
    background-color: #ef4123;
    color: white;
    display: inline-block;
    padding: 7px 13px;
    margin-top: -10px;
    margin-left: -20px;
    margin-bottom: 10px;
}

#une #focus_body {
    max-height: 350px;
    overflow: hidden;
}

#une #focus_link {
    display: block;
    background-color: #ef4123;
    color: white;
    margin: 0 -10px -20px -10px;
    border-top: 10px solid white;
    font-size: 10px;
    text-align: right;
    font-weight: bold;
}

.carouslide {
    border: 10px solid #a9a3a1;
    padding: 10px;
    text-align: center;
}

.carouslide > * {
    height: 150px;
    display: inline-block;
    text-align: left;
}

.carouslide-left,
.carouslide-right {
/*    width 10%; */
    width: 24px;
    background-repeat: no-repeat;
    background-position: center center;
}

.carouslide-left {
    background-image: url(http://opsn.fr/static//style/left_disc.png);
}

.carouslide-right {
    background-image: url(http://opsn.fr/static//style/right_disc.png);
}

.carouslide-content {
/*    width: 80%; */
    width: 454px;
    padding: 0 10px;
    overflow: hidden;
}

.carouslide-content > * {
    position: absolute;
    width: inherit;
    height: inherit;
    overflow: hidden;
    background-color: white;
}

.carouslide-blur {
    display: none;
}

.carouslide-focus,
.carouslide-focusing {
    display: block;
}

.carouslide-focus {
    z-index: 1;
}

.carouslide-focusing {
    z-index: 0;
}

.carouslide-content > * > h1 {
    padding: 0;
    margin: 0;
}

.carouslide-content > * img {
    max-height: 72px;
}

/* .carouslide-content a {
    color: black;
}

.carouslide-content a:hover {
    text-decoration: none;
} */

#search-result {
    padding-left: 15px;
}

#footer {
    padding: 7px;
    text-align: center;
    font-size: 85%;
}

#footer a {
    margin: 0 10px;
}

.plugin-picture {
}

.align-left {
    float: right;
    margin: 0 0 0 10px;
}

.align-left {
    float: left;
    margin: 0 10px 0 0;
}

.newsfeed li {
    margin: 0 !important:
    padding: 0 !important;
    list-style-type: none;
    display: block;
    margin-bottom: 10px;
}

.newsfeed li:last-of-type {
    margin-bottom: 0;
}

.newsfeed a {
    color: inherit;
}

.newsfeed ul {
    margin: 0;
    padding: 0 !important;
}

#breadcrumbs > li { font-size: 115%; }

#breadcrumbs, #page-children {
    margin-left: 0;
}

#breadcrumbs li, #page-children li {
    margin-left: 17px;
}

/* #page-children:empty {
    display: none;
}

#breadcrumbs li, #page-children li {
    list-style: none;
} */
